<form [formGroup]="formSignin" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="">Usuario</label>
    <input type="text"  class="form-control" formControlName="usuario">
  </div>
  <div class="form-group">
    <label for="">Contraseña</label>
    <input type="password" class="form-control" formControlName="passwd">
  </div>
  <div class="form-group">
    <label for="">Repite contraseña</label>
    <input type="password" class="form-control" formControlName="repite_passwd">
  </div>
  <div class="form-group">
    <label for="">Correo</label>
    <input type="email" class="form-control" formControlName="correo">
  </div>
  <div class="form-group">
    <label for="">Nombre(s)</label>
    <input type="text" class="form-control" formControlName="nombre">
  </div>
  <div class="form-group">
    <label for="">Apellido Paterno</label>
    <input type="text" class="form-control" formControlName="ape_pat">
  </div>
  <div class="form-group">
    <label for="">Apellido Materno</label>
    <input type="text" class="form-control" formControlName="ape_mat">
  </div>
  <div class="form-group">
    <label for="">Edad</label>
    <input type="number" class="form-control" formControlName="edad">
  </div>
  <div class="form-group">
    <label for="">Peso</label>
    <input type="number" class="form-control" formControlName="peso">
  </div>
  <div class="form-group">
    <label for="">Altura</label>
    <input type="number" class="form-control" formControlName="altura">
  </div>
  <div class="form-group">
    <label for="genero">Genero</label>
    <div for="genero">
      <input type="radio" value="hombre" name="genero" formControlName="genero">
      <label for="hombre">Hombre</label>
    </div>
    <div for="genero">
      <input type="radio" value="mujer" name="genero" formControlName="genero">
      <label for="mujer">mujer</label>
    </div>
  </div>
  <input type="submit" value="Enviar" class="btn btn-block btn-success" [disabled]="!formSignin.valid"/>
</form>
