<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-brand" href="#">
        <img src="assets/logo.gif" width="100" height="100" alt="Noimg">
    </div>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a style="font-size: 25px !important;" class="nav-item nav-link" href="http://localhost:4200/home">Inicio</a>
        <a style="font-size: 25px !important;" class="nav-item nav-link" href="#">Rutinas</a>
        <a style="font-size: 25px !important;" class="nav-item nav-link" href="#">Dietas</a>
        <a style="font-size: 25px !important;" class="nav-item nav-link" href="#">Calendario de actividades</a>
      </div>
    </div>
  </nav>
